@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: local("Poppins-Bold"), url(@/assets/Poppins-Bold.ttf) format("truetype");
}

body {
  margin: 0px;
}

.dropdown {
  height: 75px;
  padding: 0px 16px;
  background-color: #242526;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}

.menus__itens {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #fff;
  height: 100%;
  font-weight: bold;
  list-style: none;
  display: flex;
}

.dropdown__itens {
  list-style: none;
  position: absolute;
  top: 30x;
  background-color: #242526;
  line-height: 30px;
  padding: 20px 20px 0px 0px;
  opacity: 0;
  visibility: hidden;
}

.itens__dropdown:hover .dropdown__itens {
  top: 55px;
  opacity: 1;
  visibility: visible;
  transition: all 0.15s ease;
}

.menus__itens li {
  padding: 4px 16px;
  border-radius: 20px;
}

.menus__itens li:hover {
  background-color: #4a4c4e;
}

.dropdown__logo {
  height: 30px;
  display: none;
}

@media (max-width: 550px) {
  .dropdown__menus {
    position: absolute;
    padding: 0px;
    top: 75px;
    left: 0px;
    right: 0px;
    margin: 0px;
    display: none;
  }

  .menus__itens {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding: 12px;
    background-color: #666;
  }

  .show {
    display: block;
  }

  .dropdown__logo {
    display: block;
  }
}
